* {
    box-sizing: border-box;
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Orbitron', sans-serif;
      color: white;
}

body{
    background-color: #000000;
    -webkit-stroke-color: #fff;
display: flex;
align-items: center;
justify-content: center;
}

.botoes {
    display: inline-block;
    margin: 0 auto; 
    padding: 0.625em 1.25em;
    background-color:transparent;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px #950101 solid;
    border-radius: 10%;
    transition: all .3s ease-in;
}
.botoes:hover i, .botoes:hover {
    border-color: white ;
    color: white;
}
.fa-solid{
    color: #950101;
    font-size: 2em;
    transition: all .3s ease-in;
}

.section_all{
align-items: center;
text-align: center;
justify-content: center;
margin: 2.5em auto;
padding: 1em 0;

}
.dados_relogio_numeros{
    color: #ff0000;
    -webkit-stroke-color: #fff;
    text-decoration: none;
    font-size: 2.3em;
    display: block;
    padding-bottom: .3em
}
.dados_relogio_data{
    font-size: 1em; 
    color: #dd0000;
}
select{
    width: 10em;
    background-color: transparent;
}
